body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex: 1;
}

div > h1 {
  font-size: 3rem;
}

div > h1 span {
  color: blue;
}

.card {
  width: 45%;
}

.card-title {
  font-size: 2rem;
  font-weight: bold;
  margin-left: 3px;
}

.left > img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
}

.right > img {
  width: 200px;
  height: 200px;
  float: left;
  margin-right: 20px;
}

.left {
  float: left;
}
.right {
  float: right;
}

footer {
  text-align: right;
  color: midnightblue;
}
